@charset "UTF-8";


.content-container {
	color: black;
	text-align: center;
        position: fixed;
    top: 30%;
	align-items: center;
	display: inline-flex;
    height: auto; /* 내용에 따라 높이 조절 */
    background-color: #fff; /* 배경색 설정 */
    border-radius: 10px; /* 모서리를 둥글게 만듭니다. */
    padding: 20px; /* 원하는 패딩 값을 지정하세요. */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    z-index: 9999; /* 다른 요소 위에 나오도록 설정 */

}